init:
- ps: if ($env:APPVEYOR_REPO_TAG -eq "true") { $env:TAG_VERSION = "$env:APPVEYOR_REPO_TAG_NAME.$env:APPVEYOR_BUILD_NUMBER" } else { $env:TAG_VERSION = "v2.0.$env:APPVEYOR_BUILD_NUMBER-alpha" }
- ps: $env:TAG_VERSION = $env:TAG_VERSION -replace 'v',''
- ps: Write-Host "Setting version to '$env:TAG_VERSION'"
- ps: Update-AppveyorBuild -Version "$env:TAG_VERSION"

image:
- Visual Studio 2022
- Ubuntu2204

configuration: Release

platform:
- x64

pull_requests:
  do_not_increment_build_number: true

skip_commits:
  files:
  - .gitignore
  - LICENSE
  - README.md
  - INSTALL.md

install:
- ps: |
    if ($isLinux) {
      # Install .NET 8 SDK on Ubuntu
      sh -c 'wget https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb'
      sh -c 'sudo dpkg -i packages-microsoft-prod.deb'
      sh -c 'sudo apt-get update'
      sh -c 'sudo apt-get install -y dotnet-sdk-8.0 libgdiplus'
    }

before_build:
- ps: |
    if ($isLinux) {
      $env:COMPILED_BY = "dotnet8-linux"
      $env:EDITION = "linux"
    } else {
      $env:COMPILED_BY = "dotnet8-windows"
      $env:EDITION = "windows"
    }
- ps: (Get-Content Source\Anaximander\Program.cs) -replace 'COMPILED_BY = "?mono?"', "COMPILED_BY = `"$env:COMPILED_BY`"" | Set-Content Source\Anaximander\Program.cs
- ps: (Get-Content Source\RollbarCrashReporter\CrashReporter.cs) -replace 'COMPILED_BY = "?mono?"', "COMPILED_BY = `"$env:COMPILED_BY`"" | Set-Content Source\RollbarCrashReporter\CrashReporter.cs
- dotnet restore Source/Anaximander.sln

build_script:
- dotnet build Source/Anaximander.sln --configuration Release --no-restore

after_build:
- ps: Rename-Item -Path bin -NewName Anaximander2

artifacts:
  - path: Anaximander2
    name: anaximander2-$(EDITION)
    type: zip

deploy:
  provider: GitHub
  auth_token:
    secure: "QUqhwTOVl7qBikVjSddIdfQ/mJAYlmSwsPPxTW8kSPJKALifV/E3UFycqJyf6USR"
  artifact: anaximander2-$(EDITION)
  draft: true
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true
